# =========================================
# Java / Maven / Gradle
# =========================================
target/
build/
out/
*.class
*.jar
*.war
*.ear


# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# Logs
*.log
logs/


# =========================================
# IDEs
# =========================================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Exclude the local nitter directory
nitter/
nitter/*
nitter/**
