version: "3.9"

services:

  news-app:
    build: .
    container_name: news-service
    ports:
      - "8085:8080"
#    depends_on:
#      - redis
#      - nitter
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - newsnet

#  nitter:
#    image: zedeus/nitter:latest
#    container_name: nitter
#    ports:
#      - "8080:8080"
#    networks:
#      - newsnet
#    restart: unless-stopped
#    volumes:
#      -  /home/kevin-m/IdeaProjects/news_service/news/src/main/java/com/pawamax/news/configs/nitter.conf:/src/nitter.conf:ro
#      -  /home/kevin-m/IdeaProjects/news_service/news/src/main/java/com/pawamax/news/configs/sessions.jsonl:/src/sessions.jsonl:ro
#    depends_on:
#      - nitter-redis
#    healthcheck:
#      test: wget -nv --tries=1 --spider http://127.0.0.1:8080/Jack/status/20 || exit 1
#      interval: 30s
#      timeout: 5s
#      retries: 2
#    user: "998:998"
#    read_only: true
#    security_opt:
#      - no-new-privileges:true
#    cap_drop:
#      - ALL

#  nitter-redis:
#    image: redis:6-alpine
#    container_name: nitter-redis
#    command: redis-server --save 60 1 --loglevel warning
#    volumes:
#      - nitter-redis:/data
#    restart: unless-stopped
#    ports:
#      - "6379:6379"
#    healthcheck:
#      test: redis-cli ping
#      interval: 30s
#      timeout: 5s
#      retries: 2
#    user: "999:1000"
#    read_only: true
#    security_opt:
#      - no-new-privileges:true
#    cap_drop:
#      - ALL
#    networks:
#      - newsnet
#
#  volumes:
#    nitter-redis:


networks:
  newsnet:
    driver: bridge

